/* Reset some default browser styles */
body, h1, table {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Style the main content */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

/* Стили для ссылок */
a {
    color: #007BFF; /* Синий цвет ссылок */
    text-decoration: none; /* Убрать подчеркивание по умолчанию */
    transition: color 0.3s; /* Плавное изменение цвета при hover */
}

/* Стиль ссылок при наведении */
a:hover {
    color: #0056b3; /* Синий цвет ссылок при наведении */
}

/* Стиль для таблицы */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* Стиль для заголовков (th) */
th, td {

    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

/* Эффект hover на ячейках таблицы */
td:hover {
    background-color: #dbdbdb; /* Цвет фона при hover */
}

/* .file_links {

} */

.file_links a {
  text-align: center;
}

.mod {
   font-weight: bold;
   text-align: center;
}


/* Style the footer (scripts) */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}


/* Для маленьких экранов (мобильные устройства) */
@media screen and (max-width: 600px) {
    main {
      padding: 2%;
    }
    table {
        font-size: 14px; /* Уменьшите размер шрифта для лучшей читаемости на маленьких экранах */
    }
    th, td {
        padding: 5px; /* Уменьшите внутренний отступ для компактного отображения */
    }
}

/* Для средних и больших экранов */
@media screen and (min-width: 601px) {
    table {
        font-size: 16px; /* Увеличьте размер шрифта для более крупных экранов */
    }
}


.tableThTitle {
    text-align: center;
}
